.global-text-none {
    text-decoration: none;
}

.global-cursor-pointer {
    cursor: pointer;
}

.height-full {
    height: 100vh;
}

.theme--light.v-application {
    background: #ebebeb;
    color: rgba(0, 0, 0, 0.87);
}